/* Font import from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    background-color: #e2d6c8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-family: 'Cinzel', serif;
    color: #35291b;
    text-align: center;
}

/* Header */
header {
    background-color: #e2d6c8;
}
header a {
    text-decoration: none;
    

}
/* Footer */
#footer-bar {
    text-align: center;
    padding: 20px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #35291b;
    color: #e2d6c8;
    margin-top: auto;
    font-size: 80%;
}