/* Font import from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');

/* Asterisk wildcard selector to overide deafult styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
h1 {
    text-decoration: none;
    font-family: 'Cinzel', serif;
    color: #D8E1E7;
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    font-size: 130%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: #A37850;
    text-align: center;
    margin: 20px 5px 20px 5px;
    font-size: 130%;
    padding-top: 1rem;
    line-height: 1.6;
}
h3 {
    padding: 0 20px;
    text-align: center;
    color: #A37850;
    font-size: 120%;
}

p {
    text-align: left;
    padding: 0 20px;
    line-height: 1.6;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #818A79;
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #545545;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    width: 100%;
    color: #D8E1E7;
    font-family: 'Cinzel', serif;
}

#menu {
    list-style-type: none;
    letter-spacing: 1px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 0.5em;
}

.nav-bar {
    border-bottom: 1px solid #D8E1E7;
}


/* Nav bar styles with drop down toggle */
nav {
    position: absolute;
    background-color: #818A79;
    color: #262713;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #545545;
    display: none;
    top: 100%;
}

/* Nav bar toggle */
#nav-bar-toggle:checked~nav {
    display: block;
}

#nav-bar-toggle {
    display: none;
}

.nav-bar-toggle-label {
    font-size: 1.3rem;
    color: #D8E1E7;
}
/* Main content */
main {
    /* Make space so footer is pushed down */
    flex: 1 0 auto;
    margin-top: 50px;
    /* Enable flex properties for child elements */
        display: flex;
        flex-direction: column;
}
#hero {
    background: url(../images/lotushands.jpg) no-repeat center/cover;
    position: relative;
    height: 600px;
    width: 100%;
}

#hero-background {
    background-color: rgba(216, 225, 231, .9);
    font-size: 105%;
    width: 100%;
    min-height: 80px;
    padding: 10px 20px;
    margin-top: 20px;
}

#hero-text-1,
#hero-text-2 {
    color: #A37850;
    text-align: center;
    padding-top: 0;
    margin: 0;
}

#hero-text-2 {
    font-size: 100%;
}

#home {
    margin-top: 2rem;
}
p > a {
    color: #A37850;
    border-bottom: #A37850;
}
#read-more {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#read-more >a {
    color: #A37850;
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
/* Testimonials section */

.testimonials-color {
    background-color: #D8E1E7;
    padding: 5px;
}

#testimonials >h3 {
    padding-top: 20px;
}

#testimonial-1,
#testimonial-2 {
    background-color: #ffffff;
    padding: 20px 0;
}

.citer {
    text-align: end;
    padding: 10px 20px;
}

/* About page */

#h3-about-breathwork {
    padding: 10px 20px;
    font-size: 100%;
    background-color: #A37850;
    color: #ffffff;
    margin: 0 1.2rem;
    border-radius: 2px;
    text-align: center;
    line-height: 1.6;
}

#about-image {
    background: url(../images/eaglearms.jpg) no-repeat center/cover;
    width: auto;
    height: 86vw;
    margin: 1.2rem;
    border-radius: 50%;
}

#bw-video {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#last-p-about {
    margin-bottom: 35px;
}

/* Classes page */

#table-div {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    background: rgb(216, 225, 231, .3);
    width: 89%;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 2px;
}

#small-caption {
    font-size: small;
    text-transform: lowercase;
    padding: 0 0.7rem 0;
}

caption,
th,
td {
    padding: 0.7rem;

}

caption,
th {
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
}

caption {
    background: #ccdbe6;
    line-height: 1.6;
}

th {
    background: #D8E1E7;
}

tr:nth-of-type(2n) {
    background: rgb(216, 225, 231, .5);

}

tr {
    font-size: 100%;
}

#book-class {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#class-image {
    background: url(../images/groupofpeople.jpg) no-repeat center/cover;
    width: auto;
    height: 89vw;
    margin: 1.2rem;
    border-radius: 50%;
}

/* Contact page */

#email-address {
    padding: 20px 0;
    margin-left: 20px;
    color: #A37850;
}

#email-address>a {
    color: #000000;
    text-decoration: none;
    margin: 4px;
}
/* Contact form */

#contact-form {
    padding: 20px 10px 0 10px;
    background-color: #D8E1E7;
    border-radius: 2px;
    margin: 20px;
}

.text-input {
    border-radius: 4px;
    width: 100%;
    height: 35px;
    border: 1px solid #A37850;
    margin: 5px 0 20px 0;
    padding: 0 5px;
}

.radio-button {
    padding: 0 20px;
}

#submit-button {
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    background-color: #A37850;
    border: none;
    color: #ffffff;
    padding: 0.6rem 1.2rem;
    font-size: 100%;
    text-decoration: none;
    text-align: center;
    margin: 1rem 0;
    border-radius: 2px;
    cursor: pointer;
}

/* Footer */
.footer-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #818A79;
    color: #D8E1E7;
    font-size: 100%;
    width: 100%;
    padding: 15px 0 4px 0;
}

#footer-p {
    text-align: center;
}

.footer-bar-social {
    margin: 5px;
    font-size: 160%;
}

.footer-bar-social a {
    color: #D8E1E7;
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    #menu a:hover {
            border-bottom: 1px solid #D8E1E7;
    }
    
    header a {
        text-align: left;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-bar-toggle-label {
        display: none;
    }

    #logo {
        font-size: 260%;
        line-height: 60px;
        margin: 0 0.5rem;
    }
    /* Main */
    main {
        margin-top: 136px;
    }    
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #D8E1E7;
    }

    header a {
        text-align: left;
    }
}